@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 10px;
}

h1 {
  height: 600px;
  font-size: 15vw;

  /* we use a bg image */
  background-image: url(../../imgs/mtorre.jpg);
  background-size: cover;
  /*  clip: the bakground follows the text, is only visible where the text is */
  background-clip: text;
  -webkit-background-clip: text;
  /* text has a color, make it transparent */
  color: transparent;
}
