body {
  background-color: rgb(36, 25, 36);
  color: aliceblue;
  width: 800px;
  min-height: 50vh;
  padding: 10px;
}

section {
  scroll-padding-block: 8rem;
}
.container {
  width: min(100% - 3rem, 55rem);
  margin-inline: auto;
}

.hero {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 45em) {
  .hero {
    grid-template-columns: 1fr, 1fr;
    align-items: center;
  }
}
.header {
  padding: 5rem;
  position: relative;
}

.hero-title {
  color: hsl(177, 46%, 65%);
  font-size: clamp(2.5rem, 10vw + 0.5rem, 6rem);
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

.hero-image {
  height: 75vh;
  -webkit-mask-image: url(../../imgs/4tree.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(../../imgs/4tree.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
