.slider {
  display: flex;

  max-width: 600px;
  height: 350px;
  width: 120%;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  /* w3schools */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  border-radius: 4px;
  box-shadow: 0 0 14px rgba(219, 216, 216, 0.5);
}
/* .slider::-webkit-scrollbar {
  display: none;
} */
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(219, 216, 216, 0.5);
  /* rgba(133, 130, 130, 0.5); */
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d4d4;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbbaba;
}

.slider img {
  width: 120%;
  object-fit: cover;
  border-radius: 2px;
  scroll-snap-align: center;
  background: transparent;
  box-shadow: 0 0 14px rgba(219, 216, 216, 0.5);
}
